:root {
  --background-color: #02010A;
  --first-accent-color: #DDD92A;
  --second-accent-color: #8F6593;
  --second-light-color: #B279A7;
  --main-font-color: #FFFFFF;
  --extra-font:'Caveat', cursive;
  --accent-font: 'Lilita One', cursive;;
  --maine-font: 'Be Vietnam Pro', sans-serif;
}

*{
  padding: 0;
  margin: 0;
 box-sizing: border-box;
  /*box-sizing: content-box;*/
 
  font-family: var(--maine-font);
  color: var(--main-font-color);
}









li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: var(--accent-font);
  color: var(--main-font-color);
}

.navbar {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 0 20px;
  background-color: #02010ab5;
}
.nav-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.nav-branding {
  font-size: 22px;
  display: none;
}
.nav-link {
  transition: 0.5s ease;

  font-size: 19px;
  font-weight: 400;
}
.nav-link:hover {
  color: #8F6593;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto; 
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-font-color);
}





















.home-section {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 190px;
  text-align: center;

}
.hero{
    color: var(--first-accent-color);
    margin-top: 60px;
}
.hero h2{
 font-size: 45px;
 font-family: var(--accent-font);
}
.hero h1{
    font-size: 95px;
     font-family: var(--accent-font);
}
.tags{
    color:var(--main-font-color) ;
    font-family: var(--extra-font);
    font-size: 28px;
    margin: 20px;
}




.about-section{
    background-color: var(--main-font-color);
    font-family: var(--maine-font);
    padding-top: 90px;
    padding-bottom: 60px;

 
}

.portfolio-photo {
    width: 300px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.about-name, .aboutme-description {
    color: var(--background-color);
}
.accent-element {
    color: #ffffff;
    border: 1px solid #DDD92A;
    border-radius: 30px;
    padding: 3px 12px;
background-color: #ddda2a;
line-height: 1.5;

}

.work-section{
    background-color: var(--background-color);
    padding-top: 80px;
}
.portfolio-web-mockup{
 
  transition: all 2s linear;
}
.weather-web-mockup{
  
  transition: all 2s linear;
}
.croissant-web-mockup{
   transition: all 2s linear;
}
.yogurt-web-mockup{
   transition: all 2s linear;
   
}
.portfolio-web-mockup:hover{transform: scale(1.1);}
.weather-web-mockup:hover{transform: scale(1.1);}
.croissant-web-mockup:hover{transform: scale(1.1);}
.yogurt-web-mockup:hover{transform: scale(1.1);}

.link-work{
  text-decoration: none;
  color: #ddda2ac9;
  padding: 10px;
  font-family: var(--maine-font);
  transition: all 0.4s ease-in-out;
  font-size: 17px;
}
.link-work:hover{
  text-decoration: underline;
  color: #fefb30;
}














































.projects-description-section{
  background-color: var(--background-color);
    padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.hero-project-descriprion h1, h2{
  color: var(--first-accent-color);
 font-size: 45px;
 font-family: var(--accent-font);
}

.hero-project-descriprion h2{
  font-size: 30px;
}

.projects-list{
  margin-top: 150px ;
  
}

.open-website-btn{
  background-color: #8F6593;
  color: #ffffff;
  border-radius: 30px;
  padding: 15px 25px;
  font-family: var(--extra-font);
  font-size: 22px;
  border: 1 solid transparent;
display: inline-block;


 text-align: center;
  transition: all 0.6s ease-in-out;
}

.open-website-btn:hover{
  background-color: #573e5a;
}


.download-cv-btn{
   background-color: #8F6593;
  color: #ffffff;
  border-radius: 30px;
  padding: 15px 25px;
  font-family: var(--extra-font);
  font-size: 22px;
  border: 1 solid transparent;
display: block;
width: 50%;
margin: 25px auto;

box-shadow: rgba(47, 35, 48, 0.16) 0px 1px 4px;
text-align: center;
 overflow: hidden;
  transition: all 600ms ease-in-out;
}

.download-cv-btn:hover{
  background-color:#DDD92A;
}












/* SKILLS SECTION*/

.skills-section{
  background-color: #ffffff;

}
section{
  width: 100%;
  min-height: 300px;
}
.wave{
  background-color: #02010a;
   
 position: relative;
}

.wave:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: url("/images/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container{
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  
 gap: 5px;
}
.grid-item{
  width: 120px;
  transition:  all 0.3s ease;
  
}
.grid-item:hover{
  background-color:#d6cdd735;
 
  border: 1 solid transparent;
  border-radius: 8px;
  
}
.grid-img{
  width: 120px;
  
  padding: 20px 30px;


}
.grid-card{
background: linear-gradient(150deg, rgba(214,109,194,1) 33%, rgba(115,74,119,1) 87%);
border: 1 solid transparent;
margin-left: 15px;
margin-right: 15px;
box-shadow: rgba(70, 11, 62, 0.151) 0px 4px 12px;
}




/* DONUT PIE CHART LEFT IT FOR FUTURE ITS DIFF*/
/*
.b-skills{
  text-align: center;
  padding: 45px;
  border-top: 1px solid #573e5a;
}

.b-skills:last-child{
  margin-bottom: -30px;
}

.skill-item{
  position: relative;
  max-width: 250px;
  width: 100%;
  margin-bottom: 30px;
  color: #02010A;
}
.chart-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin-bottom: 27px;
}

.skill-item .chart,
.skill-item .chart canvas{
  position: absolute;
  top: 0;
  left:0;
  width: 100% !important;
  height: 100% !important;
}

.skill-item .chart:before{
  content: "";
  width: 0;
  height: 100%;
}
.skill-item .chart:before,
.skill-item .percents{
  display: inline-block;
  vertical-align: middle;
}

.skill-item .percents{
  position: relative;
  line-height: 1;
  font-size: 40px;
  font-weight: 600;
  z-index: 2;
}

.skill-item .percents:after{
 content: attr(data-after);
 font-size: 20px;
}
 p{
  font-weight: 600;
 }


*/


.chart-img{
  width: 200px;
  display: block;
  margin: auto;
}






/* FOOOTER*/
footer{
  margin-top: 400px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: var(--background-color);

}
.icon-section-footer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 35px;
  opacity: 0.9;
  margin-bottom: 5%;
}
.icon-contact{
  width: 50px;
  transition: all 0.3s ease-in-out;
  border-radius: 100%;
  box-shadow: rgba(185, 16, 237, 0.215) 0px 12px 28px 0px, rgba(156, 44, 236, 0.119) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.icon-contact:hover {
  cursor: pointer;
  opacity: 0.6;
}





.comment-box{
  width: 400px;
}

.comment-box input{
  width:100%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #351739;
}
.comment-box input:focus{
border: 1px solid #825988 ;
outline: 0;
}
.comment-box textarea {
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  border-radius: 5px;
    border: 1px solid #351739;
}

.comment-box textarea:focus{
  border: 1px solid #b773c2 ;
outline: 0;
}
.comment-box button
{
  border: 1px solid #825988; 
  border-radius: 15px;
  background-color:var(--second-accent-color);
  color: #ffffff;
  padding: 13px 17px;
  display: block;
  margin: 10px auto;
  transition:  all 0.6s ease;
  box-shadow: rgba(26, 1, 32, 0.288) 0px 1px 7px 0px;
}

.comment-box button:hover{
  background-color:#553759;
    border: 1px solid #553759;
}


.hire-btn-footer{
box-shadow: rgba(206, 210, 151, 0.137) 0px 1px 4px;
background-color: var(--first-accent-color);
 color: #ffffff;
   border-radius: 30px;
  padding: 15px 10px;
  font-family: var(--extra-font);
  font-size: 22px;
  border: 1 solid transparent;
display: block;
margin-left: 25%;
margin-right: 25%;
text-align: center;

 overflow: hidden;
  transition: all 600ms ease-in-out;
}

.hire-btn-footer:hover{
  background-color:#fcf81d;
}


/* CONTACT PAGE*/


.link-socialmedia{
  color: #5c3a60;
  text-decoration: underline;
  transition:  all 0.6s ease;
font-family: var(--maine-font);
 font-size: 20px;
}

.link-socialmedia:hover{
  color: var(--first-accent-color);
}
.name-link{
  font-family: var(--maine-font);
  font-size: 27px;
margin-bottom: 0;
margin-top: 40px;
}
















































@media (max-width:768px){

.hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
right: 0%;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .nav-item {
    margin: 13px 0;
  }
  .nav-menu.active {
    top: 0;
    left: 0;
  }
  .nav-branding {
    display: block;
  }





  .home-section {
  background-color: var(--background-color);
  padding-top: 150px;
  padding-bottom: 90px;
  

}
.hero{
    color: var(--first-accent-color);
    margin-top: 10%;
}
.hero h2{
 font-size: 27px;
 font-family: var(--accent-font);
}
.hero h1{
    font-size: 65px;
     font-family: var(--accent-font);
}
.tags{
    color:var(--main-font-color) ;
    font-family: var(--extra-font);
    font-size: 15px;
    margin: 10px;
}
.portfolio-photo{
    width: 225px;
    display: block;
      margin: 0 auto;
      margin-bottom: 30px;
}
.wave:before{  height: 100px;}

.chart-img{
  width: 100px;
}
.comment-box{
  width: 330px;
margin: auto;
}

}

