:root {
  --background-color: #02010A;
  --first-accent-color: #DDD92A;
  --second-accent-color: #8F6593;
  --second-light-color: #B279A7;
  --main-font-color: #FFFFFF;
  --extra-font:'Caveat', cursive;
  --accent-font: 'Lilita One', cursive;;
  --maine-font: 'Be Vietnam Pro', sans-serif;
}