:root {
  --background-color: #02010A;
  --first-accent-color: #DDD92A;
  --second-accent-color: #8F6593;
  --second-light-color: #B279A7;
  --main-font-color: #FFFFFF;
  --extra-font:'Caveat', cursive;
  --accent-font: 'Lilita One', cursive;;
  --maine-font: 'Be Vietnam Pro', sans-serif;
}

*{
  padding: 0;
  margin: 0;
 box-sizing: border-box;
  /*box-sizing: content-box;*/
 
  font-family: var(--maine-font);
  color: var(--main-font-color);
}









li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: var(--accent-font);
  color: var(--main-font-color);
}

.navbar {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 0 20px;
  background-color: #02010ab5;
}
.nav-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.nav-branding {
  font-size: 22px;
  display: none;
}
.nav-link {
  transition: 0.5s ease;

  font-size: 19px;
  font-weight: 400;
}
.nav-link:hover {
  color: #8F6593;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto; 
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-font-color);
}





















.home-section {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 190px;
  text-align: center;

}
.hero{
    color: var(--first-accent-color);
    margin-top: 60px;
}
.hero h2{
 font-size: 45px;
 font-family: var(--accent-font);
}
.hero h1{
    font-size: 95px;
     font-family: var(--accent-font);
}
.tags{
    color:var(--main-font-color) ;
    font-family: var(--extra-font);
    font-size: 28px;
    margin: 20px;
}




.about-section{
    background-color: var(--main-font-color);
    font-family: var(--maine-font);
    padding-top: 90px;
    padding-bottom: 60px;

 
}

.portfolio-photo {
    width: 300px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.about-name, .aboutme-description {
    color: var(--background-color);
}
.accent-element {
    color: #ffffff;
    border: 1px solid #DDD92A;
    border-radius: 30px;
    padding: 3px 12px;
background-color: #ddda2a;
line-height: 1.5;

}

.work-section{
    background-color: var(--background-color);
    padding: 80px;
}
.portfolio-web-mockup{
 
  transition: all 2s linear;
}
.weather-web-mockup{
  
  transition: all 2s linear;
}
.croissant-web-mockup{
   transition: all 2s linear;
}
.yogurt-web-mockup{
   transition: all 2s linear;
   
}
.portfolio-web-mockup:hover{transform: scale(1.2);}
.weather-web-mockup:hover{transform: scale(1.2);}
.croissant-web-mockup:hover{transform: scale(1.2);}
.yogurt-web-mockup:hover{transform: scale(1.2);}

.btn-work{
  
}























@media (max-width:768px){

.hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
right: 0%;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .nav-item {
    margin: 13px 0;
  }
  .nav-menu.active {
    top: 0;
    left: 0;
  }
  .nav-branding {
    display: block;
  }





  .home-section {
  background-color: var(--background-color);
  padding-top: 150px;
  padding-bottom: 50px;
  

}
.hero{
    color: var(--first-accent-color);
    margin-top: 10%;
}
.hero h2{
 font-size: 27px;
 font-family: var(--accent-font);
}
.hero h1{
    font-size: 65px;
     font-family: var(--accent-font);
}
.tags{
    color:var(--main-font-color) ;
    font-family: var(--extra-font);
    font-size: 15px;
    margin: 10px;
}
.portfolio-photo{
    width: 225px;
    display: block;
      margin: 0 auto;
      margin-bottom: 30px;
}


}

